<%= form_for(@section) do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "erro impediu", "erros impediram") %> que está seção fosse salva:</h2>

      <ul>
      <% @section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "medium" %>
  </div>
  <div class="field">
    <%= f.label :ordering %>
    <%= f.text_field :ordering, class: "small" %>
  </div>
  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color, class: "small" %>
  </div>
  Use cores HEX para o campo 'Cor'. Há uma lista de opções <a href="http://www.w3schools.com/html/html_colornames.asp">aqui</a> ou você pode gerar uma cor personalizada <a href="http://www.color-hex.com/">aqui</a>.
  <div class="actions">
    <%= f.submit class: "button" %>
    <div>ou</div>
    <div><a href="javascript:history.back()">cancelar</a></div>
  </div>
<% end %>
