<%= form_for(@section) do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "erro impediu", "erros impediram") %> que está seção fosse salva:</h2>

      <ul>
      <% @section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ordering %><br>
    <%= f.text_field :ordering %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <span>Use cores HEX para o campo 'Cor'. Há uma lista de opções <a href="http://www.w3schools.com/html/html_colornames.asp">aqui</a> ou você pode gerar uma cor personalizada <a href="http://www.color-hex.com/">aqui</a>. </span>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
