<% content_for :title do %>
  <%= @section.title %>
<% end %>

<h1>Editando seção '<%= @section.title %>'</h1>

<%= render 'form' %>

<%= link_to 'Show', @section %> |
<%= link_to 'Back', section_path %>