<% content_for :title do %>
  <%= @section.name %>
<% end %>

<h1>Editando seção '<%= @section.name %>'</h1>

<%= render 'form' %>

<%= link_to 'Show', @section %> |
<%= link_to 'Back', section_path %>