<% content_for :title do %>
  Listando seções
<% end %>
<h1>Listando seções</h1>
<table id="index_table">
  <tr>
    <th>Título</th>
    <th>Id</th>
    <th>Ordem</th>
    <th>Cor</th>
  </tr>
  <% @sections.each do |section| %>
    <tr>
      <td><%= section.name %></td>
      <td><%= section.id %></td>
      <td><%= section.ordering %></td>
      <td style="color:<%= section.color %>;"> <%= section.color %> </td>
      <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New Section', new_section_path %>