<% content_for :title do %>
  Listando seções
<% end %>
<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Ordenamento</th>
      <th>Cor</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sections.each do |section| %>
      <tr class=<%= cycle("even", "odd") %>>
        <td><%= link_to section.name, section %></td>
        <td><%= section.ordering %></td>
        <td style="color:<%= section.color %>;"> <%= section.color %> </td>
        <td><%= link_to 'Editar', edit_section_path(section) %></td>
        <td><%= link_to 'Deletar', section, method: :delete, data: { confirm: 'Você está certo disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="actions"><%= link_to 'Nova seção', new_section_path, class: "button" %></div>