<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :region_id, value: current_region.id %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <br><br>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.cktext_area :content %>
  </div>
  <div class="field">
    <%= f.label :publish_at %><br>
    <%= f.datetime_select :published_at %>
  </div>
  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :front_title %>
    <%= f.text_field :front_title %>
  </div>
  <div class="field">
    <%= f.label :front_content %>
    <%= f.text_field :front_content %>
  </div>
  <div class="field">
    <%= f.label :priority %>
    <%= f.select :priority, [1,2,3,4] %>*
    
  </div>
  <div class="field">
    <%= f.label :section %><br>
    <%= f.select :section, Section.all.map { |s| [s.title, s.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  *Select the priority considering 1 the Highest (more important) and 4 the lowest (less important).

<% end %>
