<% content_for :title do %>
  <%= @post.title %>
<% end %>
<%= div_for @post do %>

  <h2 id="post_title" style="color:<%= @post.section.color %>";><%= link_to_unless_current h(@post.title), @post %></h2>
  <div id= "post_date"><%= @post.published_at %></div><br><br>
  <a href="" id="author_post"><%= @post.author %></a>
  <p id="post_content"><%= @post.content.html_safe %></p>

  
<% end %>