<% content_for :title do %>
  Listando posts  
<% end %>
<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Autor</th>
      <th>Data de publicação</th>
      <th>Ordenamento</th>
      <th>Seção</th>
      <th>Região</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr class=<%= cycle("even", "odd") %>>
        <td><%= link_to post.title, post %></td>
        <td><%= post.author %></td>
        <td><%= l post.published_at, format: :short %></td>
        <td><%= post.ordering %></td>
        <td><%= post.section.name %></td>
        <td><%= post.region.name %></td>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Deletar', post, method: :delete, data: { confirm: 'Você está certo disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="actions"><%= link_to 'Novo post', new_post_path, class: "button" %></div>
