<div id="current_section_wrapper" style="background-color:<%= @post.section.color %>"><h2><%= @post.section.title %></h2></div>
<%= render :partial => @post %>

<p>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Destroy', @post, :method => :delete, :confirm =>"Are you sure?" %>|
  <%= link_to 'See All Posts', posts_path %>
</p>