<%= form_for(@region) do |f| %>
  <% if @region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@region.errors.count, "erro impediu", "erros impediram") %> que esta região fosse salva:</h2>

      <ul>
      <% @region.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :subdomain %><br>
    <%= f.text_field :subdomain %>
  </div>
  <div class="field">
    <%= f.label :background_url %><br>
    <%= f.text_field :background_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
