<% content_for :title do %>
  <%= @region.name %>
<% end %>
<p>
  <strong>Nome:</strong>
  <%= @region.name %>
</p>

<p>
  <strong>Subdomínio:</strong>
  <%= @region.subdomain %>
</p>

<p>
  <strong>URL da imagem de fundo:</strong>
  <%= @region.background_url %>
</p>

<%= link_to 'Editar', edit_region_path(@region) %> |
<%= link_to 'Voltar', regions_path %>
