<!DOCTYPE html>
<html>
<head>
  <title><%= "#{yield :title} · " if content_for?(:title) %>Nosso Bem Estar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
  <div id="header_wrapper" style="background: url('<%= @current_region.background_url %>')center center no-repeat;">
    <div id="header">
      <a href="/" id="logo"><%= image_tag "logo.png" %></a>
    </div>
  </div>
  <div id="content">
    <nav id="sections">
      <% Section.order(:ordering).all.each do |section| %>
        <%= link_to section.name, section_path(section), style: "color: #{section.color}" %>
      <% end %>
    </nav>
    <%= "<h1#{ " style='background-color: #{yield :color}'" if content_for?(:color) }>#{yield :title}</h1>".html_safe if content_for?(:title) %>
    <%= render "layouts/flash" unless flash.empty? %>
    <%= yield %>
  </div>
  <div id="footer">
    
  </div>
</body>
</html>
