<!DOCTYPE html>
<html>
<head>
  <title>Nosso Bem Estar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header_wrapper" style="background: url('<%= @current_region.background_url %>')center center no-repeat;">
    <div id="header">
      <a href="/" id="logo"><%= image_tag "logo.png" %></a>
    </div>
  </div>
  <div id="content">
    <nav id="sections">
      <% Section.all.each do |section| %>
        <span style="color:<%=section.color%>"><%= link_to section.title, section_path(section) %></span>
      <% end %>
    </nav>
    <%= yield %>
  </div>
</body>
</html>