<!DOCTYPE html>
<html>
<head>
  <title>Nosso Bem Estar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header_container" style="background: url('<%= @current_region.background_url %>')center center no-repeat;">
    <div id="header">
      <a href="/" id="logo"><%= image_tag "logo.png" %></a>
    </div>
  </div>
  <div id="container">
    <div id="categories">
      <nav>
        <a href="/sections/2" class="nav_button" id="saude_int">Saúde Integral</a>
        <a href="/sections/3" class="nav_button" id="cresimento">Crescimento Pessoal</a>
        <a href="/sections/5" class="nav_button" id="bem_estar">Bem-Estar</a>
        <a href="/sections/4" class="nav_button" id="beleza">Beleza</a>
        <a href="/sections/6" class="nav_button" id="familia">Família</a>
        <a href="/sections/7" class="nav_button" id="planeta">Planeta</a>
      </nav>
    </div>
    <%= yield %>
  </div>
</body>
</html>